body {
  background: #fff;
}

.cardItem {
  width: 3rem;
  height: 2rem;
  background: #ccc;
  display: inline-block;
}

.listItem {
  width: 100%;
  height: 3rem;
  background: #444;
  border-bottom: solid 0.1rem #fff;
}

.boardItem {
  width: 100%;
  height: 100%;
}